{% extends 'base.html.twig' %}

{% block title %}Se connecter{% endblock %}

{% block body %}
<div class="container center">
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}



        <h1 class="h3 mb-3 font-weight-normal">Bon retour parmis nous</h1>
        {% if app.user %}
            <p class="register-link">
                Vous êtes déjà connecté. Souhaitez-vous <a href="{{ path('app_logout') }}">être déconnecté ?</a>
            </p>
        {% endif %}
        <label for="inputEmail">Votre adresse mail</label>
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" placeholder="..." required autofocus>
        <label for="inputPassword">Votre mot de passe</label>
        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" placeholder="..." required>

        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >


        <div class="condition">
            <label for="_remember_me">
                <span>Se souvenir de moi ?</span>
            </label>
            <input type="checkbox" name="_remember_me">
        </div>

        <p class="register-link">Vous n'êtes pas inscrits ? Alors <a href="{{path('app_register')}}">rejoignez-nous</a></p>
        <div class="register">
            <button class="btn secondary" type="submit">
                <i class="fa-solid fa-right-to-bracket"></i> Se connecter
            </button>
        </div>
    </form>
</div>
{% endblock %}
