{% extends 'base.html.twig' %}

{% block title %}S'inscrire{% endblock %}

{% block body %}
    <div class="container">
        <h1>Rejoindre l'aventure</h1>

        {{ form_start(registrationForm) }}

        {{ form_label(registrationForm.email) }}
        {{ form_widget(registrationForm.email)}}

        {{ form_label(registrationForm.plainPassword) }}
        {{ form_widget(registrationForm.plainPassword)}}

        <div class="condition">
            {{ form_label(registrationForm.agreeTerms) }}
            {{ form_widget(registrationForm.agreeTerms) }}
        </div>

        <div class="register">
            <button class="btn secondary" type="submit"><i class="fa-solid fa-right-to-bracket"></i> S'inscrire</button>
        </div>

        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
