{{ form_start(form) }}
        {{ form_label(form.device) }}
        {{ form_widget(form.device)}}

        {{ form_label(form.adress) }}
        {{ form_widget(form.adress)}}
<div class="save">
    <button type="submit" class="btn secondary"><i class="fa-solid fa-floppy-disk"></i> {{ button_label|default('Ajouter') }}</button>
</div>
{{ form_end(form) }}
