{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block title %}{{ name }}{% endblock %}

{% block body %}
    <div class="container details">

        <h1>{{ name }}</h1>
        <div class="values">
            <div style="justify-content: flex-end;">
                <h2 class="primary-no-hover">PM10 : {{ temp }}</h2>
            </div>
            <div style="justify-content: flex-start;">
                <h2 class="primary-no-hover">PM2.5 : {{ hum }}</h2>
            </div>
        </div>


        <div class="list" style="margin-bottom: 80px">
            {% for item in items %}
                    <div class="item">
                        <div class="index">
                            <span>
                                {{ loop.index }}
                            </span>
                        </div>
                        <div class="address">
                        </div>
                        <div class="values" >
                            <span class="primary-no-hover">{{ item.temperature }}°C</span>
                        </div>
                        <div class="values" >
                            <span class="primary-no-hover">{{ item.humidity }} %</span>
                        </div>
                    </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}