{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container">


        <h1>Température : {{ temp }} °C</h1>
        <h1>Humidité : {{ hum }} %</h1>

        <div class="list rank">
            <div class="item-header">
                <div>
                    <p>N°</p>
                </div>
                <div class="center">
                    <p>Température</p>
                </div>
                <div class="end">
                    <p>Humidité</p>
                </div>
            </div>
            {% for item in items %}
                <div class="item">
                    <div>
                    <span>
                        {{ loop.index }}
                    </span>
                    </div>
                    <div class="center">
                        <span>{{ item.temperature  ?? "??"}}°C</span>
                    </div>
                    <div class="end">
                        <span>{{ item.humidity  ?? "??"}}%</span>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}