{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block title %}Atmos Road{% endblock %}

{% block body %}
    <div class="container">

        <div class="first-third">
            {% for item in items|slice(0,3) %}
                <div class="item-position">
                    <div>
                        <h2>
                            <a href="{{ path('app_address_detail', {'address' : item.adress}) }}">{{ item.adress }}</a>
                        </h2>
                    </div>
                    <div class="item">
                        <div class="index">
                        <span>
                            {{ loop.index }}
                        </span>
                        </div>
                        <div class="values" >
                            {% if item.temperature < 20 %}
                                <span class="value success-no-hover">PM10 : Bonne</span>
                            {% elseif item.temperature >= 20 and item.temperature < 50 %}
                                <span class="value warning-no-hover">PM10 : Moyenne</span>
                            {% elseif item.temperature >= 50 and item.temperature < 150 %}
                                <span class="value attention-no-hover">PM10 : Attention</span>
                            {% else %}
                                <span class="value danger-no-hover">PM10 : Danger</span>
                            {% endif %}
                            {% if item.humidity < 10 %}
                                <span class="value success-no-hover">PM2.5 : Bonne</span>
                            {% elseif item.humidity >= 10 and item.humidity < 25 %}
                                <span class="value warning-no-hover">PM2.5 : Moyenne</span>
                            {% elseif item.humidity >= 25 and item.humidity < 75 %}
                                <span class="value attention-no-hover">PM2.5 : Attention</span>
                            {% else %}
                                <span class="value danger-no-hover">PM2.5 : Danger</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="list">

            <div class="item header">

                <div>
                </div>
                <div class="alt">
                    <p>Adresse</p>
                </div>
                <div>
                    <p>PM10</p>
                </div>
                <div>
                    <p>PM2.5</p>
                </div>

            </div>
            {% for item in items %}
                {% if loop.index > 3 %}
                    <div class="item">
                        <div class="index">
                            <span>
                                {{ loop.index }}
                            </span>
                        </div>
                        <div class="address">
                            <a href="{{ path('app_address_detail', {'address' : item.adress}) }}">{{ item.adress }}</a>
                        </div>
                        <div class="values" >
                            {% if item.temperature < 20 %}
                                <span class="value success-no-hover">Bonne</span>
                            {% elseif item.temperature >= 20 and item.temperature < 50 %}
                                <span class="value warning-no-hover">Moyenne</span>
                            {% elseif item.temperature >= 50 and item.temperature < 150 %}
                                <span class="value attention-no-hover">Attention</span>
                            {% else %}
                                <span class="value danger-no-hover">Danger</span>
                            {% endif %}
                        </div>
                        <div class="values" >
                            {% if item.humidity < 10 %}
                                <span class="success-no-hover">Bonne</span>
                            {% elseif item.humidity >= 10 and item.humidity < 25 %}
                                <span class="warning-no-hover">Moyenne</span>
                            {% elseif item.humidity >= 25 and item.humidity < 75 %}
                                <span class="attention-no-hover">Attention</span>
                            {% else %}
                                <span class="danger-no-hover">Danger</span>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}