{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container">

        <div class="first-third">
            {% for item in items|slice(0,3) %}
                <div class="item-position">
                    <div class="center">
                        <h2>
                            <a href="{{ path('app_address_detail', {'address' : item.adress}) }}">{{ item.adress }}</a>
                        </h2>
                    </div>
                    <div class="item">
                        <div class="index">
                        <span>
                            {{ loop.index }}
                        </span>
                        </div>
                        <div class="value">
                            <span>{{ item.temperature }}°C</span>
                            &nbsp;&&nbsp;
                            <span>{{ item.humidity }}% d'humidité</span>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="list rank">

            <div class="item-header">

                <div>
                    <p>#</p>
                </div>
                <div>
                    <p>Adresse</p>
                </div>
                <div class="center">
                    <p>Valeurs</p>
                </div>
            </div>
            {% for item in items %}
                {% if loop.index > 3 %}
                    <div class="item">
                        <div>
                            <span>
                                {{ loop.index }}
                            </span>
                        </div>
                        <div class="address">
                            <a href="{{ path('app_address_detail', {'address' : item.adress}) }}">{{ item.adress }} <i class="fa-solid fa-magnifying-glass"></i></a>
                        </div>
                        <div >
                            <span>{{ item.temperature }}°C</span>
                        </div>
                        <div>
                            <span>{{ item.humidity }}%</span>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}