{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block title %}Atmos Road{% endblock %}

{% block body %}
    <div class="container">
        <div class="content-two">
            <div class="content">
                <h1>Préserver la planète à l'échelle de votre rue grâce à "Atmos Road"</h1>
                <p>Prenez part à la lutte pour un air plus sain en assemblant votre propre station <span>"Atmos Road"</span> pour mesurer et comparer la qualité de l'air <span>près de chez vous</span>. Partagez vos résultats et grimpez au sommet du classement pour devenir le <span>champion de votre quartier</span>.</p>
                <p>Cette expérience à la fois <span>ludique et instructive</span> vous place au centre de l'observation de l'environnement, vous permettant de comprendre et d'entreprendre pour <span>préserver notre planète</span>. Avec "Atmos Road", vous pouvez agir concrètement pour <span>améliorer la qualité de l'air</span> dans votre rue et dans votre ville.</p>
                {% if is_granted("IS_AUTHENTICATED") == false %}
                    <form class="link" action="{{ path('app_register') }}">
                        <button class="btn secondary" type="submit"><i class="fa-solid fa-right-to-bracket"></i> Nous rejoindre</button>
                    </form>
                {% endif %}


            </div>

            <img class="logo" src="assets/AR-round.png" alt="logo atmos road">
        </div>
    </div>

    <div class="bg primary-no-hover">
        <div class="container">
            <h2>Atmos Road : qu'est-ce que c'est ?</h2>
            <p>Atmos Road est un projet collaboratif et social visant à recueillir des informations sur la qualité de l'air à partir de différents points de prélèvement.</p>
            <p>Le concept original du projet consiste à demander aux citoyens d'assembler leur propre station d'analyse de la qualité de l'air, de l'installer sur leur terrasse, à leur fenêtre ou dans leur jardin, et de partager les résultats de leurs mesures sur un classement en ligne.</p>
            <p>Les données atmosphériques collectées sont ensuite regroupées par rues et classées en fonction des indices PM10 et PM2.5. Ainsi, le projet est à la fois ludique, avec pour objectif d'obtenir le meilleur classement possible, et éducatif, car il permet de mieux comprendre la qualité de l'air à une échelle assez précise.</p>

            <h3>Les trois meilleurs rues du classement</h3>
            <div class="ranking">
                {% for item in items|slice(0, 3) %}
                    <div class="item item-{{ loop.index }}">
                        <span class="index">
                            {{ loop.index }}
                        </span>
                        <span class="address">
                            {{ item.adress }}
                        </span>
                        <div class="values" >
                            {% if item.temperature < 20 %}
                                <span class="success-no-hover">PM10 : {{ item.temperature }}</span>
                            {% elseif item.temperature >= 20 and item.temperature < 50 %}
                                <span class="warning-no-hover">PM10 : {{ item.temperature }}</span>
                            {% elseif item.temperature >= 50 and item.temperature < 150 %}
                                <span class="attention-no-hover">PM10 : {{ item.temperature }}</span>
                            {% else %}
                                <span class="danger-no-hover">PM10 : {{ item.temperature }}</span>
                            {% endif %}
                        </div>
                        <div class="values" >
                            {% if item.humidity < 10 %}
                                <span class="success-no-hover">PM2.5 : {{ item.humidity }}</span>
                            {% elseif item.humidity >= 10 and item.humidity < 25 %}
                                <span class="warning-no-hover">PM2.5 : {{ item.humidity }}</span>
                            {% elseif item.humidity >= 25 and item.humidity < 75 %}
                                <span class="attention-no-hover">PM2.5 : {{ item.humidity }}</span>
                            {% else %}
                                <span class="danger-no-hover">PM2.5 : {{ item.humidity }}</span>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
                <form class="link" action="{{ path('app_login') }}">
                    <button class="btn secondary" type="submit"><i class="fa-solid fa-plus"></i> Voir le reste du classement</button>
                </form>
            </div>
        </div>
    </div>
    <div class="bg">
        <div class="container">
            <h2>Comment rejoindre le programme ?</h2>
            <p>Vous souhaitez participer au projet "Atmos Road" et contribuer à la préservation de la planète à votre échelle en améliorant la qualité de l'air dans votre rue, quartier ou résidence ?</p>
            <p>Pour rejoindre le programme, rien de plus simple : <a target="_blank" href="{{ path('app_register') }}">inscrivez-vous</a> et suivez toutes les étapes détaillées dans <a href="https://exastam.notion.site/Documentation-AtmosRoad-7205473bb6124c8db1633a6092c3f9b7">notre documentation <i class="fa-solid fa-arrow-up-right-from-square"></i></a>.</p>
            <p>Le projet a été conçu pour être réalisable par n'importe qui, même ceux qui n'ont pas de compétences particulières en électronique ou en informatique. Chaque étape est détaillée pour que vous puissiez assembler votre propre station "Atmos Road".</p>
            {% if is_granted("IS_AUTHENTICATED") == false %}
                <form class="link" target="_blank" action="document/doc.pdf">
                    <button class="btn secondary" type="submit"><a href="{{ path('app_register') }}"><i class="fa-solid fa-file-eye"></i> Voir la documentation</a></button>
                </form>
            {% endif %}
        </div>
    </div>

    <footer>
        <span>© AtmosRoad 2023</span>
    </footer>
{% endblock %}

