{% if (path != 'app_login') %}
    {% if(path != 'app_register') %}
        <nav>
            <div class="container">
                <ul class="menu">
                    <li class="menu-item">
                        <a class="{{ path == 'app_index' ? "select" : "" }}" href="{{ path('app_index') }}">
                            <i class="fa-solid fa-ranking-star"></i>
                        </a>
                    </li>
                    {% if is_granted('ROLE_USER') %}
                        <li class="menu-item">
                            <a class="{{ path == 'app_user_show' ? "select" : "" }}" href="{{ path('app_user_show', { 'id': app.user.id }) }}">
                                <i style="margin-right: 0" class="fa-solid fa-circle-user"></i>
                            </a>
                        </li>
                    {% else %}
                        <li class="menu-item">
                            <a class="{{ path == 'app_login' ? "select" : "" }}" href="{{ path('app_login') }}">
                                <i style="margin-right: 0" class="fa-solid fa-circle-user"></i>
                            </a>
                        </li>
                    {% endif %}
                    <li class="menu-item">
                        <a class="{{ path == '#' ? "select" : "" }}" href="#">
                            <i class="fa-solid fa-circle-info"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    {% endif %}
{% endif %}