{% extends 'base.html.twig' %}

{% block title %}Votre compte{% endblock %}

{% block body %}
    <div class="container">
        <h1>Votre compte</h1>

        <div class="title">
            <h2>Vos informations</h2>
        </div>

        <div class="text">
            <p>Votre adresse email : <span>{{ user.email }}</span></p>

            <p>Nombre de station : <span>{{ user.devices|length }}</span></p>


            {% if temp is not defined %}
                <p>Moyenne du PM10 : <span class="grey-no-hover">{{ temp ?? "??" }}</span></p>
            {% elseif temp == 0 %}
                <p>Moyenne du PM10 : <span class="grey-no-hover">{{ temp ?? "??" }}</span></p>
            {% elseif temp < 20 %}
                <p>Moyenne du PM10 : <span class="success-no-hover">{{ temp ?? "??" }}</span></p>
            {% elseif temp >= 20 and temp < 50 %}
                <p>Moyenne du PM10 : <span class="warning-no-hover">{{ temp ?? "??" }}</span></p>
            {% elseif temp >= 50 and temp < 150 %}
                <p>Moyenne du PM10 : <span class="attention-no-hover">{{ temp ?? "??" }}</span></p>
            {% else %}
                <p>Moyenne du PM10 : <span class="danger-no-hover">{{ temp ?? "??" }}</span></p>
            {% endif %}

            {% if hum is not defined %}
                <p>Moyenne du PM2.5 : <span class="grey-no-hover">{{ hum ?? "??" }}</span></p>
            {% elseif hum == 0 %}
                <p>Moyenne du PM2.5 : <span class="grey-no-hover">{{ hum ?? "??" }}</span></p>
            {% elseif hum < 10 %}
                <p>Moyenne du PM2.5 : <span class="success-no-hover">{{ hum ?? "??" }}</span></p>
            {% elseif hum >= 10 and hum < 25 %}
                <p>Moyenne du PM2.5 : <span class="warning-no-hover">{{ hum ?? "??" }}</span></p>
            {% elseif hum >= 25 and hum < 75 %}
                <p>Moyenne du PM2.5 : <span class="attention-no-hover">{{ hum ?? "??" }}</span></p>
            {% else %}
                <p>Moyenne du PM2.5 : <span class="danger-no-hover">{{ hum ?? "??" }}</span></p>
            {% endif %}

        </div>

        <div class="save">
            <a class="btn secondary" href="{{ path('app_user_edit', {'id': user.id}) }}"><i class="fa-solid fa-pen-to-square"></i> Modifier vos informations</a>
            <a class="btn warning" href="{{ path('app_logout') }}"><i class="fa-solid fa-right-from-bracket"></i> Se déconnecter</a>
        </div>
        <form style="margin-top:20px" action="{{ path('app_user_remove', {'id': user.id}) }}">
            <button class="btn danger" type="submit"><i class="fa-solid fa-trash-can"></i> Supprimer votre compte</button>
        </form>

        <div class="title">
            <h2>Vos stations</h2>
            <a class="btn primary" href="{{ path('app_device_new') }}"><i class="fa-solid fa-plus"></i> Ajouter un appareil</a>
        </div>

        <div class="list" style="border-top: none">
            {% if devices|length > 0 %}
                {% for device in devices %}
                    <div class="item">
                        <div class="index">
                            <span>
                                {{ loop.index }}
                            </span>
                        </div>
                        <div class="address">
                            <a href="{{ path('app_address_detail', {'address' : device.adress}) }}">{{ device.adress }}</a>
                        </div>
                        <div class="values">
                        </div>
                        <div class="actions">
                            <a style="width: 100px; border-radius: 50px" class="btn-icon secondary" href="{{ path('app_device_edit', {'id': device.id}) }}"><i class="fa-solid fa-pen-to-square"></i></a>
                            <a class="btn-icon danger" href="{{ path('app_device_remove', {'id': device.id}) }}"><i class="fa-solid fa-trash-can"></i></a>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                Vous n'avez pas d'appareil
            {% endif %}
        </div>

    </div>
{% endblock %}
