{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <div class="container">
        <h1>User</h1>

        <span>Email</span>
        <span>{{ user.email }}</span>

        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Device</th>
                <th>Adress</th>
                <th>Temperature</th>
                <th>Humidity</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for device in devices %}
                <tr>
                    <td>{{ device.id }}</td>
                    <td>{{ device.device }}</td>
                    <td>{{ device.adress }}</td>
                    <td>{{ device.temperature }}</td>
                    <td>{{ device.humidity }}</td>
                    <td>
                        <a href="{{ path('app_device_edit', {'id': device.id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a class="btn primary" href="{{ path('app_device_new') }}">Ajouter un appareil</a>

        <a class="btn secondary" href="{{ path('app_index') }}">Retour à la liste</a>

        <a class="btn primary" href="{{ path('app_user_edit', {'id': user.id}) }}">Modifier vos informations</a>

        {{ include('user/_delete_form.html.twig') }}
    </div>
{% endblock %}
