{% extends 'base.html.twig' %}

{% block title %}Votre compte{% endblock %}

{% block body %}
    <div class="container">
        <h1>Votre compte</h1>

        <div class="title">
            <h2>Vos informations</h2>
        </div>

        <div class="text">
            <p>Votre adresse email : <span>{{ user.email }}</span></p>

            <p>Nombre de station : <span>{{ user.devices|length }}</span></p>

            <p>Moyenne de température : <span>{{ temp ?? "??" }}°C</span></p>

            <p>Moyenne d'humidité : <span>{{ hum ?? "??" }} %</span></p>
        </div>

        <div class="save">
            <a class="btn secondary" href="{{ path('app_user_edit', {'id': user.id}) }}"><i class="fa-solid fa-pen-to-square"></i> Modifier vos informations</a>
            <a class="btn warning" href="{{ path('app_logout') }}"><i class="fa-solid fa-right-from-bracket"></i> Se déconnecter</a>
        </div>
        <div style="margin-top: 20px">
            {{ include('user/_delete_form.html.twig') }}
        </div>

        <div class="title">
            <h2>Vos appareils</h2>
            <a class="btn secondary" href="{{ path('app_device_new') }}"><i class="fa-solid fa-plus"></i> Ajouter un appareil</a>
        </div>

        <div class="list" style="margin-bottom: 80px">
            {% if devices|length > 0 %}
                {% for device in devices %}
                    <div class="item">
                        <div class="index">
                            <span>
                                {{ loop.index }}
                            </span>
                        </div>
                        <div class="address">
                            <a href="{{ path('app_address_detail', {'address' : device.adress}) }}">{{ device.adress }} <i class="fa-solid fa-magnifying-glass"></i></a>
                        </div>
                        <div class="values">
                        </div>
                        <div class="actions">
                            <a style="width: 100px; border-radius: 50px" class="btn-icon secondary" href="{{ path('app_device_edit', {'id': device.id}) }}"><i class="fa-solid fa-pen-to-square"></i></a>
                            {{ include('device/_delete_form.html.twig') }}
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                Vous n'avez pas d'appareil
            {% endif %}
        </div>

    </div>
{% endblock %}
